footer {
    background-color: var(--white);
    color: var(--black);
}

footer .footer__content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

footer .footer__content h2 {
    color: var(--dark-secondary-color);
}

footer .footer__content .footer__contact span {
    display: block;
    font-weight: 500;
}

footer .footer__content ul li {
    display: inline-block;
}

footer .footer__content ul a {
    display: inline-block;
    padding: 1rem;
}

footer .footer__content .footer__copyright {
    font-size: 1.4rem;
    font-style: italic;
}